@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&family=Lexend+Deca:wght@100;200;300;400&family=Lobster&family=Roboto:ital,wght@0,300;1,100;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: oldlace;
    display: flex;
    justify-content: center;
    align-items: center;   
    flex-direction: column;
}
.attribution{
    font-size: 11px; text-align: center;
    color: hsl(0, 0%, 100%);
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
@media screen and (min-width:300px) and (max-width:1043px){
    body{
    background-color: hsl(233, 47%, 7%);
    padding: 20px;
}
    .container{
    display: flex;
    justify-content: center;
    width: 97%;
    background: hsl(233, 47%, 7%);
    padding: 15px;
    flex-direction: column-reverse;
}
    .left-side{
        border-radius:0 0 9px 9px ;
        background-color:  hsl(244, 38%, 16%);
        text-align: center;
        font-size:15px ;
        padding:17px 0;
    }
    .left-side h1{
        font-weight: 700;
        padding:10px 8px;
        line-height: 30px;
        font-family: 'Inter', sans-serif;
        color: hsl(0, 0%, 100%);
    }
    .left-side p{
        font-weight: 400;
        padding: 10px 15px;
        line-height: 19px;
        color: hsla(0, 0%, 100%, 0.6);
        font-family: 'Lexend Deca', sans-serif;   
    }
    .left-side .rate{
        display: flex;
        text-transform: capitalize;
        justify-content: center;
        align-items: center;
        gap: 15px;
        flex-direction: column;
        padding-top: 10px;              
    }
    .left-side .rate h1{
        padding-top: 4px;
        line-height: 20px;
        color: hsl(0, 0%, 100%);
    }
    .left-side .rate span{
        font-size: 18px;
        font-family: 'Lexend Deca', sans-serif;   
        color: hsla(0, 0%, 100%, 0.6);
    }
    .left-side span:first-child{
        color: hsl(277, 64%, 61%);
    }
    .right-side{
        border-radius: 9px 9px 0 0;
        background:linear-gradient(to right,  rgba(170, 92, 219, 0.473) 100%, transparent 100%),url(./image-header-mobile.jpg)no-repeat;
        background-position: center center;
        background-size: contain;
        width: 100%;
        height: 200px;
    }
}
@media screen and (min-width:1044px){
    body{
    background-color: hsl(233, 47%, 7%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100vh;
}
.container{
    display: flex;
    justify-content: center;
    width: 80%;
    background: hsl(233, 47%, 7%);
    padding: 15px;
    height: 70vh;
}
    .left-side{
        border-radius:9px 0 0 9px ;
        background-color:  hsl(244, 38%, 16%);
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-size:15px ;
        width: 50%;
        gap: 20px;
        padding: 20px 70px;
    }
    .left-side h1{
        font-weight: 700;
        line-height: 30px;
        font-family: 'Inter', sans-serif;
        color: hsl(0, 0%, 100%);
    }
    .left-side p{
        font-weight: 400;
        line-height: 19px;
        color: hsla(0, 0%, 100%, 0.6);
        font-family: 'Lexend Deca', sans-serif;   
    }
    .left-side .rate{
        text-transform: capitalize;
        text-align: left;
        gap: 50px;
        display: flex;
    }
    .left-side .rate h1{
        line-height: 20px;
        color: hsl(0, 0%, 100%);
    }
    .left-side .rate span{
        font-size: 18px;
        font-family: 'Lexend Deca', sans-serif;   
        color: hsla(0, 0%, 100%, 0.6);
    }
    .left-side span:first-child{
        color: hsl(277, 64%, 61%);
    }
    .right-side{
        border-radius: 0 9px 9px 0;
        width: 50%;
        background:linear-gradient(45deg,   rgba(170, 92, 219, 0.473) 100%, transparent 100%),url(./image-header-desktop.jpg)no-repeat;
        background-size: cover;
        background-position: center center;
    }
}
